@font-face {
  font-family: 'SF Distant Galaxy';
  font-style: normal;
  font-weight: normal;
  src:
    url('../assets/fonts/SFDistantGalaxy.ttf') format('ttf');
}

body {
  background-image: url("../assets/images/stars.jpg");
  color: white;
}

.hidden {
  display: none;
}

#title {
  font-family: 'SF Distant Galaxy', sans-serif;
}

#largerTitle {
  font-size: 120%;
}

#formHolder {
  text-align: center;
}

#planetsHolder {
  display: flex;
  flex-direction: row;
}

.planetHolder {
  width: 20%;
  text-align: center;
}

.planetGIF {
  width: auto;
  height: 20%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#yearsSinceFormError {
  color: aqua;
}

#yearsTilFormError {
  color: aqua;
}